/* You can add global styles to this file, and also import other style files */
// .turqiz.background{
//     background-color: $teal-700;
// }

// .turqiz.front{
//     background-color: $teal-700;
// }

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; /* רמת השקיפות של התמונה */
    z-index: -1; /* כדי שהתמונה תהיה מתחת לתוכן העמוד */
}
// .turqiz.front {
//     // background-color: var($teal-700);
// }